.place__paragraph_title {
  margin: 26px 0 0 0;
  padding: 0;
}

/*@media screen and (max-width: 768px) {
  .place__paragraph_title {
    margin: 26px 0 0 0;
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph_title {
    margin: 26px 0 0 0;
    padding: 0;
  }
}