.page{
    max-width: 1280px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .page {
      max-width: 100%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .page {
      max-width: 768px;
    }
  }

  @media screen and (max-width: 330px) {
    .page {
      max-width: 320px;
    }
  }

  