.place__website_block {
  margin: 107px 0 0 0;
}

@media screen and (max-width: 1024px) {
  .place__website_block {
    margin: 105px 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  .place__website_block {
    margin-top: 7px;
  }
}

@media screen and (max-width: 320px) {
  .place__website_block {
    margin: 0 0 0 16px;
  }
}
