.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 26px 0 0 0;
  max-width: 363px;
  z-index: 2;

}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    max-width: 261px;
  }
}