.place__paragraph-two {
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  padding: 26px 0 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph-two {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph-two {
    max-width: 288px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 20px 16px;
    padding: 0;
  }
}