.header__block {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffff;
}

.header__block:hover {
  opacity: 0.8;
}

@media screen and (max-width: 440px) {
  .header__block {
    font-size: 7vw;
  }
}

@media screen and (max-width: 320px) {
  .header__block {
    font-size: 18px;
    line-height: 20px;
  }
}
