.cover__block {
  background: rgba(42, 44, 47, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__block:hover {
  background: rgba(42, 44, 47, 0.8);
} 
