.footer {
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 92px 0 24px 0;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
    margin: 95px 0 0px 50px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin: 83px 0 0 24px;
    font-size: 2vw;

  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 54px 0 0 15px;
    flex-direction: column;
  }
}